{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block body %}
<h1>{{ user }}'s Page</h1>
<hr>
{% if current_user == user %}
    <form action="" method="POST">
        {{ form.csrf_token }}

        {% for field in form if field.name != "csrf_token" %}
            {{ field.label }}
            <br>
            {{ field }}
            <br>
        {% endfor %}
        <input type="submit" value="Post">
    </form>
    <hr>

    {% for post in user.posts %}
        <h2>{{ post.title }}</h2>
        
        <p>{{ post.content }}</p>
        <a href='/posts/delete/{{post.id}}'>Delete</a>
        <a href='/posts/edit/{{post.id}}'>Edit</a>
        <hr>
    {% else %}
        No posts yet
    {% endfor%}
    
    {% else %}

        {% for post in user.posts %}
            <h2>{{ post.title }}</h2>

            <p>{{ post.content }}</p>
            <hr>
        {% else %}
            No posts yet
        {% endfor%}
{% endif %}

{% endblock %}